body {
    margin: 0;
    padding: 30px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

#login-form input {
    padding: 15px;
    font-size: 1.5rem;
    width: 300px;
}
#login-form button {
    padding: 15px 30px;
    font-size: 1.5rem;
}
#login-form-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#login-form-wrapper.hidden {
    display: none;
}
#poker-area.hidden {
    display: none;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 30px;
    width: 375px;
}
.card {
    padding: 22px;
    border: 1.5px solid #ccc;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background: #f9f9f9;
    font-size: 1.5rem;
}

#controls button {
    padding: 15px 30px;
    font-size: 1.2rem;
}

#user-list {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 3rem;
}

#user-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}
#user-table th,
#user-table td {
    padding: 15px 30px;
    border: 1px solid #ddd;
    text-align: center;
}
#user-table th {
    background-color: #f2f2f2;
}

.user-vote svg {
    width: 72px;
    height: 72px;
}
